# Core ML/NLP libraries
torch>=2.0.0
transformers>=4.30.0
datasets>=2.13.0
sentencepiece
accelerate
scikit-learn
numpy
pandas

# Preprocessing
nltk
spacy
tqdm

# Visualization & Analysis
matplotlib
seaborn

# Optional but useful
jupyter
notebook
evaluate
huggingface_hub[hf_xet]>=0.16.4
spacy-transformers
seqeval
openpyxl
joblib
python-docx
PyMuPDF
pdfplumber
openai
dotenv